html {
  background-color: #434343;
}

.home {
  // text-align: center;
  span {
    color: white;
  }
}

.home-section {
  margin-bottom: 15px;
}

h1 {
  color: #B89031 !important;
  line-height: 1.2 !important;
  margin-bottom: 0px !important;
}
